{% extends 'base.html.twig' %}

{% block title %}Modifier la categorie : {{category.name}} {% endblock %}

{% block body %}
{{ dump(category.image) }}
    <h1>Modifier la categorie {{category.name}} </h1>
    
    
    {{ form (editForm)}}
    <p>
        TODO: Add form to add new category
    </p>

{% endblock %}
